*{font-family: 'Righteous', arial, serif;}

/*----------------------------------
header
--------------------------------*/

.header{background: #03020A; border-radius: 20px;} /*sfondo dell'header*/
.header_logo_img{float: left;margin-left:10px; width: 180px; height: 70px; border-radius: 20px;}

.header_menu{float: right; margin: 0; padding: 0;}/*parametrizziamo il menu*/

.header_menu_item_login {display: inline-block;padding:10px;margin-left:-30px;}/*parametriziamo l'item*/
.header_menu_item_login a{color: #fff; display: inline-block; text-decoration: none;margin-top:5px; padding:0px 0px 10px 10px;border-radius: 100px;}
.header_menu_item_login img{display: inline-block; text-decoration: none; width: 40px; height: 40px; margin-bottom:-15px;border-radius: 100px;  }
.header_menu_item_login :hover{background: #322679}/*animazione del menu 'sfondo colorato'*/

/*----------------------------------
footer
--------------------------------*/

.footer{
background: #03020A; 
padding: 20px;
color: #fff;
border-radius: 20px;
max-width: 100%;
}/*parametrizzo e formatto testo e colore*/

/*----------------------------------
Box
--------------------------------*/
.box{background-color: rgba(255,255,255,0.6);max-width: 70%;margin-top: 10px;margin-bottom:10px;margin-left:15%;border-radius: 20px;}
.admin{float:right;width: 400px; height: 400px;}
.box_text{padding:20px 20px 5px 20px;}
.box_add{padding:0px 20px 10px 20px;}
.box_query{padding:0px 20px 0px 20px;}
.box_table{padding:0px 20px 20px 20px;}



/*----------------------------------
table
--------------------------------*/
table {font-family: arial, sans-serif;border-collapse: collapse;width: auto;border: 2px solid black;}
td, th {border-radius: 20px;border: 2px solid black;text-align: left;padding: 8px;}
.x{width: 25px; height: 25px;cursor: pointer;}
.gear{width: 25px; height: 25px;margin-left:10px;cursor: pointer;}
.tdx{text-align: center}

/*----------------------------------
button
--------------------------------*/
.button{border: none;height: 30px;width: 68px;background: #322679;color: #fff;font-size: 15px;font-color:grey;border-radius: 20px;}
.button:hover{background: purple;cursor: pointer;}

/*----------------------------------
text
--------------------------------*/
.text_titolo{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 150px;padding-left:10px;}
.text_prezzo{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 60px;padding-left:10px;}
.text_piatt{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 90px;padding-left:10px;}
.text_gen{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 60px;padding-left:10px;}
.text_anno{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 50px;padding-left:10px;}
.text_nomeutente{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 100px;padding-left:10px;}
.text_date{border-radius: 20px;border: 1px solid black;height: 30px;font-size: 15px;font-color:grey;width: 150px;padding-left:10px;}
.file_input{white-space: nowrap;outline: none;-webkit-user-select: none;cursor: pointer;}
.error{color: red;font-weight:bold;padding:10px;}

/*----------------------------------
Select
--------------------------------*/
.select{border-top-left-radius: 20px;border-bottom-left-radius: 20px;border: 1px solid black;padding-left:10px;background:rgba(255,255,255,0.75);height: 30px;width: 300px;font-size: 15px;font-color:grey;}

/*----------------------------------
media query
--------------------------------*/

@media (max-width: 1610px) {
.admin{display:none;}
}


@media (max-width: 1110px) {
.std{display:none;}
.media{display:inline-block;}
.footer{background: #03020A; padding: 20px;color: #fff;border-top-left-radius: 20px;border-top-right-radius:20px;max-width: 100%;margin-top:10px}
.box{background-color: rgba(255,255,255,0.6);max-width: 98%;margin-top: 10px;margin-bottom:10px;margin-left:1%;border-radius: 20px;}
}

@media (max-width: 850px) {
.footer{background: #03020A; padding: 20px;color: #fff;border-top-left-radius: 20px;min-width: 850px;border-top-right-radius:20px;max-width: 100%;margin-top:10px}
.box{background-color: rgba(255,255,255,0.6);max-width: 98%;min-width: 850px;margin-top: 10px;margin-bottom:10px;margin-left:1%;border-radius: 20px;}
.header{background: #03020A; border-radius: 20px;min-width: 850px;} /*sfondo dell'header*/
}

.clearfix::after {display: table;content: " ";clear: both;}