*{font-family: 'Righteous', arial, serif;}

/*----------------------------------
header
--------------------------------*/

.header{background: #03020A; border-radius: 20px;} /*sfondo dell'header*/
.header_logo_img{float: left;margin-left:10px; width: 180px; height: 70px; border-radius: 20px;}

.header_menu{float: right; margin: 0; padding: 0;}/*parametrizziamo il menu*/

.header_menu_item_login {display: inline-block;padding:10px;margin-right:10px;}/*parametriziamo l'item*/
.header_menu_item_login a{color: #fff; display: inline-block; text-decoration: none;margin-top:5px; padding:0px 0px 10px 10px;border-radius: 100px;}
.header_menu_item_login img{display: inline-block; text-decoration: none; width: 40px; height: 40px; margin-bottom:-15px;border-radius: 100px;  }
.header_menu_item_login :hover{background: #322679}/*animazione del menu 'sfondo colorato'*/

/*----------------------------------
footer
--------------------------------*/

.footer{background: #03020A; padding: 20px;color: #fff;border-radius: 20px;max-width: 100%;}/*parametrizzo e formatto testo e colore*/

/*----------------------------------
Box
--------------------------------*/
.box{background-color: rgba(255,255,255,0.6);max-width: 70%;margin-top: 10px;margin-bottom:10px;margin-left:15%;border-radius: 20px;}
.box_table{padding:10px 20px 10px 20px;}
.box_text{padding:10px 20px 20px 20px;}
/*----------------------------------
table
--------------------------------*/
table {font-family: arial, sans-serif;border-collapse: collapse;border: 2px solid black;width:100%;empty-cells: hide;}
td, th {border-radius: 20px;border: 2px solid black;text-align: left;padding: 8px;}
.meno{width: 35px; height: 20px;float:right;margin:0px;cursor: pointer;}
.piu{width: 20px; height: 20px;float:left;margin:0px;cursor: pointer;}
.quantita{text-align: center;padding:-2px -3px -3px -3px;}
/*----------------------------------
button
--------------------------------*/

.button{border: none;height: 30px;width: 200px;background: #322679;color: #fff;font-size: 15px;font-color:grey;border-radius: 20px;float:right;}
.button:hover{background: purple;cursor: pointer;}
.h3{display:inline;}
/*----------------------------------
media query
--------------------------------*/

@media (max-width: 1100px) {
.std{display:none;}
.box{background-color: rgba(255,255,255,0.6);max-width: 98%;min-width: 800px;margin-top: 10px;margin-bottom:10px;margin-left:1%;border-radius: 20px;}
.footer{background: #03020A; padding: 20px;color: #fff;min-width: 800px;border-top-left-radius: 20px;border-top-right-radius:20px;max-width: 100%;margin-top:10px}
.header{min-width: 800px;}
}

.clearfix::after {display: table;content: " ";clear: both;}