*{font-family: 'Righteous', arial, serif;}
/*----------------------------------
header
--------------------------------*/

.header{background: #03020A; border-radius: 20px;} /*sfondo dell'header*/
.header_logo_img{float: left;margin-left:10px; width: 180px; height: 70px; border-radius: 20px;}
.header_menu{float: right; margin: 0; padding: 0;}/*parametrizziamo il menu*/
.header_menu_item{display: inline-block;}/*parametriziamo l'item*/
.header_menu_item_login {display: inline-block;}/*parametriziamo l'item*/
.header_menu_item_Carrello{display: inline-block;}
.header_menu_item a{color: #fff; display: block; padding: 10px; margin-bottom:10px; text-decoration: none;border-radius: 100px;}
.header_menu_item_login img{display: block; padding: 10px; text-decoration: none; width: 40px; height: 40px; border-radius: 100px; margin-bottom:-25px; margin-right:10px; margin-top:5px;}
.header_menu_item a:hover{background: #322679}/*animazione del menu 'sfondo colorato'*/
.header_menu_item_login img:hover{background: #322679}/*animazione del menu 'sfondo colorato'*/
.media{display:none;}

/*----------------------------------
footer
--------------------------------*/

.footer{background: #03020A; padding: 20px;color: #fff;border-top-left-radius: 20px;border-top-right-radius:20px;max-width: 100%;}/*parametrizzo e formatto testo e colore*/

/*----------------------------------
cards
--------------------------------*/
.cards{max-width: 80%;margin-top: 10px;margin-left:10%;}
.card{width: 30.1%; height:300px; margin: 1.5% 1.5% 2% 1.5%; background-color: rgba(255,255,255,0.4); float: left;border-top-left-radius: 20px;border-top-right-radius:20px;border-bottom-left-radius: 35px;border-bottom-right-radius:35px;}/*parametri di ogni singola card inserita nell contenitore cards */
.card_image{border-top-left-radius: 20px;max-width: 90%;max-height: 90%; float:left; margin-right: 20px;}/*parametri immagine contenuta nelle card*/

/*----------------------------------
button
--------------------------------*/
.button_car{border: none;height: 40px;width: 100%;background: #322679;color: #fff;font-size: 18px;font-color:grey;border-bottom-left-radius: 20px;border-bottom-right-radius:20px;}
.button_car:hover{background: purple;cursor: pointer;}

/*----------------------------------
media query
--------------------------------*/

@media (max-width: 1900px) {
.card{width: 47%; height:300px; margin: 1.5% 1.5% 2% 1.5%;float: left;border-top-left-radius: 20px;border-top-right-radius:20px;border-bottom-left-radius: 35px;border-bottom-right-radius:35px;}
}

@media (max-width: 1150px) {
.card{width: 97%; height:300px; margin: 1.5% 1.5% 2% 1.5%;float: left;border-top-left-radius: 20px;border-top-right-radius:20px;border-bottom-left-radius: 35px;border-bottom-right-radius:35px;}
}

@media (max-width: 1100px) {
.std{display:none;}
.media{display:inline-block;}
.footer{background: #03020A; padding: 20px;color: #fff;border-top-left-radius: 20px;border-top-right-radius:20px;max-width: 100%;margin-top:10px}
}

@media (max-width: 700px) {
.media{display:none;}
.sport{display:none;}
.cards{max-width: 99%;margin-top: 10px;margin-left:0.5%;}
.footer{background: #03020A; padding: 20px;color: #fff;border-top-left-radius: 20px;border-top-right-radius:20px;max-width: 100%;margin-top:10px}
}

.clearfix::after {display: table;content: " ";clear: both;}