html,body{height: 100%}
/*----------------------------------
Login
--------------------------------*/
body{margin: 0;padding: 0;font-family: sans-serif;}
#errore{margin: 0px 0px 10px 0px;padding: 5px;border-radius:100px;text-align: center;}
.loginbox{width: 320px;height: 250px;background: #03020A;color: #fff;top: 50%;left: 50%;position: absolute;transform: translate(-50%,-50%);padding: 70px 30px;border-radius: 20px;}
h1{margin: 0;padding: 0 0 20px;text-align: center;font-size: 22px;}
.loginbox p{margin: 0;padding: 0;font-weight: bold;}
.loginbox input{width: 100%;margin-bottom: 20px;}

.loginbox input[type="text"], input[type="password"]{border: none;border-bottom: 1px solid #fff;background: transparent;outline: none;height: 40px;color: #fff;font-size: 16px;}
.loginbox input[type="submit"]{border: none;outline: none;height: 40px;background: #322679;color: #fff;font-size: 18px;border-radius: 20px;}
.loginbox input[type="submit"]:hover{cursor: pointer;background: purple;}
.loginbox a{text-decoration: none;font-size: 12px;line-height: 20px;color: darkgrey;}
.loginbox a:hover{color: purple;}
