html,body{height: 100%}
/*----------------------------------
Login
--------------------------------*/
body{padding: 0;font-family: sans-serif;}
.regibox{width: 320px;height: 550px;background: #03020A;color: #fff;top: 50%;left: 50%;position: absolute;transform: translate(-50%,-50%);padding: 50px 30px;border-radius: 20px;}
h1{margin: 0;padding: 0 0 20px;text-align: center;font-size: 22px;}
.normal{border: none;border-bottom: 1px solid #fff;background: transparent;outline: none;height: 40px;color: #fff;font-size: 16px;margin:0px 0px 15px 0px;width: 100%}
.special{border: none;border-bottom: 1px solid #fff;background: transparent;outline: none;height: 40px;color: #fff;font-size: 16px;margin:0px 0px 0px 0px;width: 100%}
.mini{text-decoration: none;font-size: 12px;line-height: 20px;color: darkgrey;margin:0px 0px 10px 0px;}
.error{color: red;}

.regibox input[type="submit"]{border: none;outline: none;height: 40px;background: #322679;color: #fff;font-size: 18px;border-radius: 20px;margin:15px 0px 0px 0px;width: 100%;}
.regibox input[type="submit"]:hover{cursor: pointer;background: purple;}
